*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color:white;
}
header{
    background-color: white;
    margin-block-end: 15px;
}
h1{
    text-align: left;
}
h2{
    color: rgb(128, 118, 114);
    text-align: center;
    text-decoration:none;
    text-decoration:underline; 
    margin-block-end: 50px;   
}
.tituloBuscados{
    color: rgb(128, 118, 114);
    text-align: center;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}
.imagenesCursos{
    text-align: center;
    margin-top: 30px;
}
.imagenesTalleres{
    text-align: center;
    margin-top: 30px;
}
.bordeRedondeado{
    border-radius: 25%;
}
.bordeRedondeado:hover{
    transform: scale(1.5, 1.5);
    transition: all 1s ease;
    border: black 1px solid;
}

.listaIndex{
    font-size: medium;
    color: white;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    background-color:rgb(240, 171, 205);
    padding: 5px 10px;
}
.listaIndex:hover{
    background-color: gray;
}
.marginLista{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
li{
    display: inline;
}
.fondoColor{

    background-size: 100%;
    background-position: center;
}
.jadeLeft{
    color:black;
    text-align: left;
    text-decoration: none;

}
.parrafoNosotros{
    background-color:rgb(240, 171, 205);
  
}
.nosotrosUno{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
}
.flexImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}
.flexFooter{
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
}
.footerImg{
    flex-direction: row;
}

footer{
    background-image: url('./imagenes/mini-corazon-fondo-linea_62907-28.jpg');
}
.grillaUno{
    display: grid;
    grid-template-rows: .5fr 3fr .2fr;
}
.gridCurso{
    display: grid;
    grid-template-rows: .5fr 3fr .2fr;
}

.grillaCursos{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
    flex-direction: column;

}
.grillaTalleres{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 768px){
    .marginLista{
        display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start
    }
    .flexImg{
        flex-direction: column;
    }
    h2{
        color: white;
        background-color: pink;
    }
    .talleresTexto{
        color: rgb(128, 118, 114);
        background-color: rosybrown;
    }
    .cursosTexto{
        color: wheat;
        background-color: yellowgreen;
    }
    .tabla{
        color: tomato;
    }
}
@media(max-width: 500px){
    .flexImg{
        display: none;
    }
    h2{
        color: rgb(165, 64, 143);
        background-color: rgb(235, 234, 179);
    }
    .talleresTexto{
        color: rgb(155, 82, 151);
        background-color: rgb(186, 235, 235);
    }
    .cursosTexto{
        color: rgb(212, 176, 209);
        background-color: turquoise;
    }
    .tabla{
        color: rgb(126, 71, 255);
    }
    .parrafoNosotros{
        color: blueviolet;
        background-color: cadetblue;
    }
}
